/*@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url('wp-content/themes/cambridge/fonts/glyphicons-halflings-regular.eot');
  src: url('wp-content/themes/cambridge/fonts/glyphicons-halflings-regular.eot?#iefix') format ('embedded-opentype');
  src: url('wp-content/themes/cambridge/fonts/glyphicons-halflings-regular.woff') format ('woff');
  src: url('wp-content/themes/cambridge/fonts/glyphicons-halflings-regular.svg') format ('svg');
  src: url('wp-content/themes/cambridge/fonts/glyphicons-halflings-regular.ttf') format ('ttf');
  src: url('wp-content/themes/cambridge/fonts/glyphicons-halflings-regular.woff2') format ('woff2');
}*/
@font-face {
    font-family: 'bignoodletitlingregular';
    src: url('../fonts/big_noodle_titling-webfont.woff2') format('woff2'),
         url('../fonts/big_noodle_titling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*@font-face {
  font-family: 'helveticaCE';
  src: url('../fonts/HelveticaCE.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: 'helveticaCEnarrow';
  src: url('../fonts/HelveticaCE-Narrow.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
html {
  overflow-y: scroll;
}
html,
body {
  margin:0;
  /*color: #333;*/
  /*background: #eee;*/
  /*font: sans-serif;*/
}
/*body {
  padding: 20px;
}*/

/*#all-container {
  max-width: 1366px;
}*/
/*.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}*/

/* -- This is top navigation. Header across all pages. -- */
.top-nav {
  width: 100%;
  background-color: #003DA5;
  color: #fff;
}
.tn-overall-table {
  /*margin-top: 15px;*/
  /*margin-bottom: 15px;*/
  width: 100%;
  /*margin: 0;*/
}
.cambridge-white-logo {
  padding: 15px 20px 15px 0px;
}
.tn-inner-table {
  height: inherit;
  width: 100%;
  margin: 0;
  text-align: right;
}
.tn-inner-table td {
  padding: 5px 0px 5px 0px;
}
.ph-icon {
  font-size: 15px;
}
.navi-ph {
  font-size: 15px;
  font-family: 'Questrial', sans-serif;
}
.s-icon {
  font-size: 25px;
  text-decoration: none;
  color: inherit;
  padding-left: 10px;
}
.navi1-btn {
  font-family: 'Questrial', sans-serif;
}
.navi1-btn a {
  text-decoration: none;
  margin-left: 15px;
  color: inherit;
  font-size: 15px;
}
.tn2-overall-table {
  margin: 0;
  width: 100%;
}
.top-nav2 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav2 {
  font-family: 'bignoodletitlingregular';
  color: #003DA5;
  font-size: 20px;
  letter-spacing: 2px;
}
.nav2-logo a {
  text-decoration: none;
  padding-left: 20px;
}
.nav2-search {
  text-align: right;
  margin: 0;
}
.nav2-search-icon {
  color: #003DA5;
  font-size: 15px;
}
.nav2-search-txt {
  font-family: 'Questrial', sans-serif;
  color: #003DA5;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
/*.nav2-search input[type=text]{
  width: 100%;
  border-radius: 5px;
  background-color: #F2F2F2;
}*/
.search-field {
  text-align: center;
  /*width: 100%;*/
  /*border-radius: 5px;*/
  /*background-color: #F2F2F2;*/
}

/*--  site footer --*/
.site-footer {
  background-color: #003DA5;
  color: #fff;
  font-family: 'Questrial', sans-serif;

}
.footer1 {
  padding-top: 25px;
  padding-bottom: 25px;
  /*width: inherit;*/
  /*background-color: #003DA5;*/
  /*font-family: 'Questrial', sans-serif;*/
  /*display: flex;*/
  /*color: white;*/
}
/*.footerlink {
  height: 150px;
  margin: auto;
}*/
.footer1 a {
  text-decoration: none;
  /*color: white;*/
  color: inherit;
}
.footer1-subtxt {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer1-subtxt li {
  padding-left: 5px;
}
.footer1-subtxt li:before{
  content: "-";
  padding-right: 8px;
  color: white;
}
.certifications {
  text-align: right;
  /*padding-top: 30px;*/
  /*vertical-align: top;*/
}
.certifications-txt {
  font-size: 35px;
  font-family: 'bignoodletitlingregular';
  letter-spacing: 3px;
  /*font-weight: bold;*/
}
.certifications img {
  width: 200px;
}
.footer-socialmedia {
  float: right;
  /*padding-right: 15px;*/
}

/*  -  -  -  INDEX PAGE -  -  -  */
.general-category {
  /*background-image: url("../images/silvergradient.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*width: inherit;*/
  background-color: #ffffff;
  color: #003DA5;
  /*height: 200px;*/
  /*font-family: 'Oswald', sans-serif;*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*padding-top: 15px;*/
  padding-bottom: 15px;
}
.gc-block {
  /*display: table;*/
  padding-top: 30px;
  height: 100%;
  /*text-align: center;*/
  /*padding: 10px;*/
  /*float: left;*/
  /*margin: auto;*/
  text-align: center;
}
.gc-block i {
  color: black;
}
.gc-block-title {
  /*font-size: 2em;*/
  font-family: 'bignoodletitlingregular';
  /*font-weight: bold;*/
  font-size: 25px;
  /*padding-top: 175px;*/
}
.gc-desc-img {
  /*display: table-cell;*/
  height: 200px;
  /*position: relative;*/
  /*vertical-align: middle;*/
  /*width: 250px;*/
  /*background-image: url("../images/hvac_icon.png");
  background-repeat: no-repeat;
  background-position: center;*/
}
.gc-desc-img img{
  /*vertical-align: middle;*/
  height: 160px;
  width: 150px;
  padding-bottom: 10px;
  /*padding-top: 45px;*/
  /*margin: auto;*/
  /*display: none;*/
}
.gc-desc-img p {
  /*font-family: 'BigNoodleTitling';*/
  /*display: table-cell;*/
  /*vertical-align: middle;*/
  color: black;
  /*font-size: 19px;*/
  /*margin: 0;*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*-ms-transform: translate(-50%, -50%);*/
  /*transform: translate(-50%, -50%);*/
}
.hvac-desc {
  display: none;
}
.plumbing-desc {
  display: none;
}
.electrical-desc {
  display: none;
}
.automotive-desc {
  display: none;
}
.retail-desc {
  display: none;
}
.oem-desc {
  display: none;
}
.mid-menu {
  height: 50px;
  background-color: #003DA5;
  text-align: center;
  color: #ffffff;
}
.mid-menu .container {
  padding-top: 10px;
}
#mid-menu-menu {
  font-family: 'bignoodletitlingregular';
  font-size: 25px;
  letter-spacing: 3px;
  margin-top: 10px;
}
#mid-menu-menu a {
  font-size: 25px;
  color: #ffffff;
}
.mm-divider {
  padding-left: 20px;
  padding-right: 20px;
}

#mid-category {
  background-color: #70bdff;
  text-align: center;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  font-family: 'Questrial', sans-serif;
  color: #ffffff;
}
#mid-category .container {
  padding-top: 30px;
  padding-bottom: 10px;
}
#mid-category img {
  height: 100px;
  width: 100px;
}
.mc-header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}
.mc-border {
  font-size: 20px;
  border: 2px solid white;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
}
.mc-txt {
  font-size: 18px;
  margin: 20px;
}

/* -- Product pages -- */

#product-main-page {
  width: 100%;
}

/*
Accordion. Sample taken from https://www.w3schools.com/howto/howto_js_accordion.asp
*/
/*.accordion {
  cursor: pointer;
}*/
/*.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    cursor: pointer;
}*/
.custaccordion {
  font-family: 'Questrial', sans-serif;
  cursor: pointer;
  width: 100%;
  display: block;
  transition: 0.4s;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  /*padding-right: 5px;*/
}
.custpanel {
  /*width: 100%;*/
  margin-left: 10px;
  /*margin-right: 5px;*/

  /*overflow: hidden;*/
  display: none;
}
/*.inner-panel {
  width: 100%;
  margin-left: 10px;
  display: none;
  margin-right: 10px;
}*/
.no-sub {
  width: inherit;
  margin-left: 15px;
  /*margin-right: 10px;*/
}
.chev {
  width: 12px;
  height: 12px;
}
.custaccordion:hover {
  background-color: #ddd;
  /*cursor: pointer;*/
}
/*.accordion.active{
    background-color: #ddd;
}*/

/*button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: left;
    margin-left: 5px;
}*/

/*button.accordion.active:after {
    content: "\2212";
}*/

/*div.panel {
    padding-left: 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}*/

#main {
  padding-bottom: 20px;
}

td.cat-bar {
  width: 27%;
  vertical-align: top;
  /*max-height: 100%;*/
}
td.cat-bar a {
  font-family: 'Questrial', sans-serif;
  text-decoration: inherit;
  color: inherit;
}
td.prod-display {
  width: 73%;
  vertical-align: top;
}

.group-container {
  padding-bottom: 20px;
  background-color: #F2F2F2;
}

.m-title {
  font-family: 'bignoodletitlingregular';
  background-color: #003DA5;
  /*background-color: #F2F2F2;*/
  color: white;
  font-size: 25px;
  letter-spacing: 2px;
  padding-left: 20px;
  padding-top: 10px;
}

.s1-box-background {
  background-color: #F2F2F2;
  /*display: flex;*/
  /*float: right;*/
  margin: auto;
}
.s1-box-background a {
  text-decoration: none;
}
/*.s1-box {
  width: 200px;
  height: 300px;
  display: inline;
  float: right;
}*/
.item-img img {
  width: 130px;
  height: 130px;
}
.s1-box {
  width: 130px;
  height: 180px;
  display: inline-block;
  /*margin: 0 auto;*/
  margin: 8px;
  vertical-align: top;
  background-color: black;
  margin-left: 20px;
  padding-bottom: 20px;
  /*text-align: center;*/
  /*float: right;*/
}
.s1-cat {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 13px;
  color: white;
  /*background-color: black;*/
}
.extra-box {
  display: none;
}
/*.show-hide {
  margin-bottom: 20px;
}*/
a.display-extra {
  margin-left: 20px;
  /*margin-bottom: 20px;*/
  cursor: pointer;
  font-family: 'bignoodletitlingregular';
  font-size: 20px;
  color: #000;
}

.m-title a {
  text-decoration: none;
  color: inherit;
}
/*.m-title a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}*/

/* - - - product cell display - - - */
.s2-imgdivider {
  /*max-width: 50px;*/
}
/*.s2-title {
  padding-left: 20px;
  text-align: center;
}*/
/*td.p2-title {
  width: 25%;
  vertical-align: top;
}*/
.p2-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.p2-title {
  font-family: 'bignoodletitlingregular';
  letter-spacing: 2px;
  font-size: 45px;
  /*font-weight: bold;*/
}
td.p2-data {
  width: 75%;
  vertical-align: top;
  padding: 10px;
}
.p2-divider {
  margin-bottom: 0;
  margin-top: 0;
  /*margin-left: 20px;*/
  /*margin-right: 20px;*/
}
.p2-divider tr {
  border: none;
}
.p2-divider-img {
  /*width: 70%;*/
}
.p2-divider-img img {
  width: 600px;
  padding-left: 20px;
}
.p2-divider-cert {
  width: 30%;
  text-align: center;
}
img.p2-cert-img {
  height: 40px;
  /*padding-right: 10px;*/
  /*height: 50px;*/
}
.p2-description-txt {
  font-family: 'Questrial', sans-serif;
}
.item-data-sheet {
  width: 100%;
  font-size: 12px;
  text-align: center;
  /*padding: 5px;*/
  /*margin: auto;*/
}
.item-data-sheet th {
  /*width: 100%;*/
  font-family: 'bignoodletitlingregular';
  padding-top: 5px;
  font-size: 20px;
  text-align: center;
  background-color: #000;
  color: #fff;
}
.item-data-sheet td {
  font-family: 'Questrial', sans-serif;
}
.item-data-sheet tr {
  border-bottom: 1px solid #A7A9AC;
}
.item-data-sheet tr:nth-child(odd) {
  background-color: #fff;
}

/* - - - item page - - - */
#each-item-spec {
  /*padding: 5px;*/
  /*width: 650px;*/
  width: inherit;
  margin: 10px;
  background-color: #fff;
  /*vertical-align: top;*/
}
#each-item-spec tr {
  border: none;
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
}
.item-image {
  /*padding: 10px;*/
  /*margin-left: 10px;*/
  width: 330px;
  text-align: center;
  vertical-align: top;
  /*width: 50%;*/
}
.item-data {
  /*padding-left: 10px;*/
  /*text-align: center;*/
  /*padding-right: 10px;*/
  /*width: 50%;*/
  vertical-align: top;
  padding-right: 10px;
  /*width: 50%;*/
}
.main-view-lg {
  margin-top: 10px;
  margin-bottom: 10px;
  /*padding-left: 10px;*/
  width: 300px;
  /*display: none;*/
  border: 1px solid #A7A9AC;
  cursor: pointer;
}
.single-thumb {
  width: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #A7A9AC;
}
.item-spec-container {
  /*padding: 15px;*/
  /*margin-top: 10px;*/
}
.ip-title {
  font-family: 'bignoodletitlingregular';
  height: 50px;
  /*font-weight: bold;*/
  font-size: 45px;
  padding-top: 5px;
}
.ip-type {
  font-family: 'bignoodletitlingregular';
  /*font-weight: bold;*/
  font-size: 35px;
}
.ip-each-data {
  font-size: 12px;
}
.ip-legend {
  font-family: 'Questrial', sans-serif;
}
.ip-spec {
  font-family: 'Questrial', sans-serif;
  /*font-weight: bold;*/
  font-size: 18px;
}
a.spec-sheet {
  color: blue;
  text-decoration: underline;
  cursor: auto;
}
.ip-certification {
  padding: 10px;
}
.ip-certitle, .ip-desctitle {
  font-family: 'bignoodletitlingregular';
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
}
.ip-description {
  padding: 10px;
}
/*.ip-desctitle {
  font-weight: bold;
}*/
.ip-detaildescription {
  font-family: 'Questrial', sans-serif;
}
.ip-cert-img {
  max-height: 50px;
  /*max-width: 50px;*/
  padding-right: 10px;
}
/* modal background */
.ip-modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
/* modal content(img) */
.ip-modal-content {
  margin: auto;
  /*display: block;*/
  padding: 0;
  width: 80%;
  max-width: 530px;
}
.ip-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.ip-close:hover, .ip-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.ip-slides {
  /*text-align: center;*/
  cursor: pointer;
  display: none;
}
.ip-slides:hover {
  /*cursor: pointer;*/
}
.ip-slides img {
  /*width: 500px;*/
}
/*.ip-prev, .ip-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.ip-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.ip-prev:hover, .ip-next:hover {
  background-color: rgba(0,0,0,0.8);
}*/

/* - - - ABOUT US - - - */

.aboutus-inthebeginning {
  /*padding-top: 50px;
  padding-bottom: 50px;*/
  padding: 50px;
  text-align: center;
}
.aboutus-title1 span {
  margin: 0 auto;
  font-family: 'bignoodletitlingregular',cursive;
  font-size: 50px;
  letter-spacing: 2px;
  border-bottom: 4px solid #003DA5;
}
.aboutus-content1 {
  margin-top: 20px;
  text-align: left;
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
}
.aboutus-timelineimg img {
  max-width: 100%;
  /*padding-top: 50px;*/
  padding-bottom: 50px;
}
.about-hvac, .about-plumbing {
  background-color: #f2f2f2;
}
.about-cat-img {
  padding: 20px;
}
.about-cat-img img {
  max-width: 500px;
  max-height: 400px;
}
.about-cat-desc {
  padding: 20px 20px 20px 20px;
  /*display: inline-block;*/
  vertical-align: middle;
}
.about-cat-title {
  font-family: 'bignoodletitlingregular';
  font-size: 40px;
}
.about-cat-txt-main {
  padding-bottom: 10px;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  /*border-bottom: 2px solid #fff;*/
}
.about-hvac .about-cat-txt-main,
.about-plumbing .about-cat-txt-main {
  border-bottom: 1px solid #fff;
}
.about-electrical .about-cat-txt-main,
.about-automotive .about-cat-txt-main {
  border-bottom: 1px solid #e6e6e6;
}
.about-cat-txt-tags {
  font-family: 'Questrial', sans-serif;
}
