img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@font-face {
    font-family: 'bignoodletitlingregular';
    src: url('../fonts/big_noodle_titling-webfont.woff2') format('woff2'),
         url('../fonts/big_noodle_titling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'helveticaCEnarrow';
  src: url('../fonts/HelveticaCE-Narrow.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
html {
  overflow-y: scroll;
}
html,
body {
  margin:0;
}


textarea:focus, input:focus, button:focus {
  outline: none;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder
{
    color: transparent;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder{
    color: transparent!important;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{
    color: transparent!important;
}

/* -- This is top navigation. Header across all pages. -- */
.top-nav {
  width: 100%;
  background-color: #003DA5;
  color: #fff;
  min-height: 72px;
}
.tn-overall-table {
  width: 100%;
}
.tnc-inner {
  width: 100%;
  position: relative;
}
.cambridge-white-logo {
  padding-top: 15px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.header-socialmedia {
  text-align: right;
  display: block;
}

a.s-icon {
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}
/* - - - custom nav - - - */
.header-nav-container {
}
.header-mnav {
  padding-top: 5px;
  margin-bottom: 0;
  text-align: right;
  display: block;
}
.hmn-container {
  display: inline-block;
  margin-left: 20px;
}
.header-mnav a {
  color: #fff;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  font-size: 10pt;
  vertical-align: top;
}
.header-mnav .header-navicon {
  display: none;
}
.hnt-selector-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-navi-selector {
  text-align: center;
  width: 30px;
  border-bottom: 2px solid #fff;
}
.header-mnav a:hover .header-navi-selector {
  display: block !important;
}
/* Responsive css for navigation */
@media screen and (max-width: 1000px) {

  .header-mnav .hmn-container:not(:first-child) {display: none;}
  .header-mnav a.header-navicon {
    cursor: pointer;
    display: block;
    padding: 5px;
  }
  .header-mnav.responsive .hmn-container {
    display: block;
  }
  .hmn-container a {
    display: inline-block;
  }
  .hmn-container:not(:first-child) {
    margin: 0;
    text-align: left;
    padding: 10px 0px 10px 0px;
  }
}
/* - - - */

.tn2-overall-table {
  margin: 0;
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top-nav2 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-brands-navi {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-start;
}
.nav2 {
  font-family: 'bignoodletitlingregular';
  color: #003DA5;
  font-size: 10pt;
  letter-spacing: 2px;
  display: block;
  float: left;
  padding-top: 14px;
  padding-bottom: 5px;
  margin-right: 10px;
}
.nav2 a {
  text-decoration: none;
}
.nav2-logo {
  margin: 0px 10px 0px 10px;
}

.nav2-coda a img {
  height: 25px;
}
.nav2-amram a img {
  height: 12px;
}
.nav2-stz a img {
  height: 13px;
}
.nav2-pipedecor a img {
  height: 9px;
}

.nav2-coda, .nav2-amram, .nav2-stz, .nav2-pipedecor {
  padding-top: 8px;
}

.nav2-search {
  display: block;
  float: right;
  text-align: right;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 5px;
}
.nav2-search-icon {
  color: #003DA5;
  font-size: 15px;
}
.nav2-search-txt {
  font-family: 'Questrial', sans-serif;
  color: #003DA5;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.search-field {
  text-align: center;
  width: 300px;
  border-radius: 8px;
  border: none;
  background-color: #F2F2F2;
  height: 35px;
}

@media screen and (max-width: 420px) {
  .nav2 {
    /* font-size: 8pt; */
    letter-spacing: 0pt;
    padding-top: 11px;
  }
  .nav2-logo a {
    text-decoration: none;
  }
  .nav2-cambridge a img {
    height: 20px;
  }
  .nav2-amram a img {
    height: 9.6px;
  }
  .nav2-stz a img {
    height: 10px;
  }
  .nav2-pipedecor a img {
    height: 7.2px;
  }
  .nav2-coda, .nav2-amram, .nav2-stz, .nav2-pipedecor {
    padding-top: 5px;
  }
  .nav2-search-txt {
    display: none;
  }
  .search-field {
    width: 250px;
  }
  .nav2-search-icon {
    margin-right: 10px;
  }
}

/*--  site footer --*/
.site-footer {
  background-color: #003DA5;
  color: #fff;
  font-family: 'Questrial', sans-serif;

}
.footer1 {
  padding-bottom: 25px;
  display: inline-block;
  width: 100%;
}
.footer1-inner-left {
  padding-top: 25px;
  display: block;
  float: left;
  padding-right: 30px;
}
.footer1-inner-right {
  padding-top: 25px;
  display: block;
  float: right;
}

.footer1 a {
  text-decoration: none;
  color: inherit;
}
.footer1-subtxt {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer1-subtxt li {
  padding-left: 5px;
}
.footer1-subtxt li:before{
  content: "-";
  padding-right: 8px;
  color: white;
}
.certifications {
  text-align: right;
}
.certifications-txt {
  font-size: 35px;
  font-family: 'bignoodletitlingregular';
  letter-spacing: 3px;
}
.certifications img {
  width: 200px;
}
.footer-socialmedia {
  float: right;
  display: inline-block;
}
.copyright {
  display: inline-block;
  padding-top: 5px;
}

@media screen and (max-width: 1000px) {
  .footer1-inner-right, .footer1-inner-left {
    float: none;
  }
}

@media screen and (max-width: 450px) {
  .copyright p {
    font-size: 7pt;
  }
  .copyright {
    padding-top: 10px;
  }
}

/*  -  -  -  INDEX PAGE -  -  -  */
.general-category {
  background-color: #ffffff;
  color: #003DA5;
  padding-bottom: 15px;
}
.gc-block-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  /* space-evenly didn't work in IE */
  flex-wrap: wrap;
}
.gc-block {
  padding-top: 30px;
  height: 100%;
  width: 245px;
  text-align: center;
  position: relative;
}
.gc-block i {
  color: black;
}
.gc-block-title {
  font-family: 'bignoodletitlingregular';
  font-size: 25px;
  margin-top:10px;
}
.gc-desc-img {
  height: 200px;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  text-align: center;
}
.gc-desc-img img{
  height: 160px;
  width: 150px;
  padding-bottom: 10px;
}

.gc-desc-txt {
  position: absolute;
  height: 100%;
  width: 100%;
  /* max-width: 160px; */
  z-index: 1;
  top: 0%;
  right: 0%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.gc-desc-txt p {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  color: #003DA5;
  font-size: 12pt;
}

.gc-block:hover > .gc-desc-img {
  opacity: 0;
}
.gc-block:hover > .gc-desc-txt {
  opacity: 1;
}

@media screen and (max-width: 750px) {
  .gc-block {
    width: 150px;
  }
  .gc-desc-img img {
    width: 100px;
    height: 110px;
  }
  .gc-desc-txt p {
    font-size: 9pt;
  }
}

.mid-menu {
  background-color: #003DA5;
  text-align: center;
  color: #ffffff;
}
.mid-menu .container {
  padding-top: 10px;
}
/*  responsive menu for mid-menu at index page. */
@media screen and (max-width: 650px) {
  .mm-divider {
    display: none;
  }
  #mid-menu-menu a {
    display: block;
  }
}
#mid-menu-menu {
  font-family: 'bignoodletitlingregular';
  font-size: 25px;
  letter-spacing: 3px;
  margin-top: 10px;
}
#mid-menu-menu a {
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
}
#mid-menu-menu a:hover {
  color: #70bdff;
}
.mm-divider {
  padding-left: 20px;
  padding-right: 20px;
}

#mid-category {
  background-color: #70bdff;
  text-align: center;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  font-family: 'Questrial', sans-serif;
  color: #fff;
}
#mid-category .container {
  padding-top: 30px;
  padding-bottom: 10px;
}
.index-midcategory-imgholder {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  display: block;
  cursor: pointer;
}
.index-midcategory-imgholder.index-distribution {
  background-image: url('../images/distribution01.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.index-midcategory-imgholder.index-retail {
  background-image: url('../images/retail01.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.index-midcategory-imgholder.index-oem {
  background-image: url('../images/oem01.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.index-midcategory-imgholder:hover ~ .mc-header,
.index-midcategory[aria-expanded="true"] .mc-header {
  color: #fff;
}
.index-midcategory-imgholder.index-distribution:hover,
.index-midcategory[aria-expanded="true"] .index-distribution {
  background-image: url('../images/distribution02.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.index-midcategory-imgholder.index-retail:hover,
.index-midcategory[aria-expanded="true"] .index-retail {
  background-image: url('../images/retail02.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.index-midcategory-imgholder.index-oem:hover,
.index-midcategory[aria-expanded="true"] .index-oem {
  background-image: url('../images/oem02.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.index-midcategory-contents {
  padding-bottom: 20px;
}
.mc-header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  /*color: #404040;*/
  color: #003DA5;
}
.mc-border {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
}
.mc-txt {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-size: 18px;
  margin: 20px;
}

/* - - - Carousel text overlay - - - */

.index-banner-textbox {
  position: absolute;
  z-index: 10;
  padding-bottom: 20px;
  color: #000;
  text-align: center;
  background: rgba(255,255,255,0.7);
  font-family: 'bignoodletitlingregular';
  font-size: 50pt;
}
@media screen and (min-width: 1081px) and (max-width: 1350px){
  .ibt-img4 .ibt-text {
    font-size: 30pt;
  }
}
@media screen and (min-width: 775px) and (max-width: 1080px) {
  .index-banner-textbox {
    font-size: 30pt;
  }
}
@media screen and (min-width: 775px) {
  /* - - - for full and large width screens - - - */

  .ibt-img1 {
    padding-top: 40px;
    width: 100%;
    top: 35%;
  }
  .ibt-img1 .ibt-underline {
    width: 400px;
  }
  .ibt-img1 .ibt-text {
    line-height: 0.8em;
  }
  .ibt-img2 {
    padding-top: 40px;
    height: 100%;
    width: 375px;
    top: 10%;
    left: 10%;
  }
  .ibt-img2 .ibt-underline {
    width: 175px;
  }
  .ibt-img4 {
    padding: 30px 30px 0px 30px;
    height: 100%;
    width: 375px;
    top: 10%;
    right: 10%;
  }
  .ibt-img4 .ibt-text {
    line-height: 1.25em;
  }
  .ibt-img4 .ibt-underline {
    width: 175px;
  }
  .ibt-img5 {
    padding: 40px 20px 40px 20px;
    width: 550px;
    top: 30%;
    right: 0;
  }
  .ibt-img5 .ibt-text {
    line-height: 1.25em;
  }
  .ibt-img5 .ibt-underline {
    width: 175px;
  }
}
@media screen and (max-width: 774px) {
  /* - - - for small width screens - - - */
  .ibt-text {
    font-size: 20pt;
  }
  .ibt-img1, .ibt-img2, .ibt-img4, .ibt-img5 {
    padding-top: 25px;
    width: 100%;
    top: 0%;
  }
  .ibt-underline {
    width: 200px;
  }
  .ibt-text {
    line-height: 0.8em;
  }
}

.ibt-underline {
  margin: 0 auto;
  border-bottom: 5px solid #003DA5;
}

/* -- Product pages -- */

.prod-tocatalogs {
  margin: 0px 0px 10px 0px;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
}
.prod-tocatalogs a {
  text-decoration: none;
  width: 100%;
  color: #000;
  padding: 10px;
  font-family: 'bignoodletitlingregular';
  font-size: 30pt;
  line-height: 1em;
}
.prod-tocatalogs-underline {
  margin: 0 auto;
  width: 200px;
  border-bottom: 4px solid #003DA5;
}


.custaccordion {
  font-family: 'Questrial', sans-serif;
  position: relative;
  width: 100%;
  display: block;
  transition: 0.4s;
  text-align: left;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 5px;
  padding-right: 5px;
}
.custaccordion img {
  position: absolute;
  top: 6px;
  left: 0px;
  cursor: pointer;
}
.custaccordion img.chev {
  vertical-align: text-top;
}
.custpanel {
  padding-left: 15px;
  display: none;
}

.no-sub {
  width: inherit;
}
.custaccordion a {
  display: inline-block;
  text-decoration: none;
  margin-left: 15px;
  word-wrap: break-word;
}
.chev {
  width: 12px;
  height: 12px;
  margin-bottom: 3px;
  /*margin-right: 3px;*/
}
.custaccordion:hover {
  /*background-color: #ddd;*/
  /*cursor: pointer;*/
}


#main {
  padding-bottom: 20px;
}
#product-main-page {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cat-bar {
  width: 27%;
  margin-bottom: 25px;
}
.cat-bar a {
  font-family: 'Questrial', sans-serif;
  text-decoration: none;
  color: inherit;
}
.cat-bar h4 {
  padding: 0px 10px 0px 10px;
}
.prod-display, .search-display {
  width: 73%;
}

.productaccordion-maintitle-container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
}

.productaccordion-mobilemenu {
  display: none;
}
.productaccordion-content-container {
  padding-left: 10px;
}
@media screen and (max-width: 800px){
  .cat-bar {
    width: 100%;
  }
  .prod-display, .search-display {
    width: 100%;
  }
  .productaccordion-content-container {
    display: none;
  }
  .productaccordion-mobilemenu {
    display: block;
    cursor: pointer;
  }
  .responsive .productaccordion-content-container{
    display: block;
  }
}

.group-container {
  padding-bottom: 20px;
  background-color: #FBFBFB;
}

.m-title {
  font-family: 'bignoodletitlingregular';
  background-color: #003DA5;
  color: white;
  font-size: 25px;
  letter-spacing: 2px;
  padding-left: 20px;
  padding-top: 10px;
}

.s1-box-background {
  width: 100%;
  height: 100%;
}
.s1-box-background a {
  text-decoration: none;
}

.ph1tag {
  padding: 0px 20px 0px 20px;
  font-family: 'bignoodletitlingregular',cursive;
  text-align: left;
}

.item-img img {
  width: 130px;
  height: 130px;
  background-color: #fff;
}
.s1-box-flex-container {
  padding: 0px 20px 0px 20px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /*-webkit-flex-flow: row wrap;*/
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}
.s1-box {
  height: 200px;
  padding: 20px 0px 20px 0px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .s1-box {
    width: 175px;
  }
}
@media screen and (min-width: 401px) and (max-width: 1199px){
  .s1-box {
    width: 150px;
  }
}
@media screen and (max-width: 991px) {
  .s1-box-filler {
    display: none !important;
  }
}
@media screen and (max-width: 450px){
  .s1-box {
    width: 125px;
  }
}
.s1-cat {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  padding-top: 10px;
  font-size: 12pt;
  line-height: 1em;
  color: #000;
  /*background-color: black;*/
}
.extra-box {
  display: none;
}
.show-hide {
  margin-left: 20px;
  padding-top: 20px;
}
.sh-chev {
  /*padding-bottom: 10px;*/
  padding-right: 5px;
}
.sh-chev img {
  margin-bottom: 7px;
}
.display-extra {
  cursor: pointer;
  font-family: 'bignoodletitlingregular';
  font-size: 20px;
  color: #003DA5;
  cursor: pointer;
}

.m-title a {
  text-decoration: none;
  color: inherit;
}

/* - - - product cell display - - - */

.prod-tt-container {
  width: 100%;
  text-align: left;
}
.p2-header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p2-title {
  font-family: 'bignoodletitlingregular';
  letter-spacing: 2px;
  font-size: 30pt;
}
td.p2-data {
  width: 75%;
  vertical-align: top;
  padding: 10px;
}
.p2-divider {
  margin: 10px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.p2-divider-cert {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.p2-cert-img {
  padding: 0px 5px 0px 5px;
}
img.p2-cert-img {
  height: 40px;
}

.p2-description-txt {
  font-family: 'Questrial', sans-serif;
}
.item-data-sheet {
  width: 100%;
  text-align: center;
}
.item-data-sheet th {
  font-family: 'bignoodletitlingregular';
  padding: 8px 5px 0px 5px;
  height: 30pt;
  font-size: 16pt;
  text-align: center;
  background-color: #000;
  color: #fff;
  line-height: 16pt;
}
.item-data-sheet td {
  font-family: 'Questrial', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}
td.prod-itemnum {
  font-size: 10pt;
  white-space: nowrap;
}
td.prod-data {
  font-size: 9pt;
}
.item-data-sheet tr {
  border-bottom: 1px solid #A7A9AC;
}
.item-data-sheet tr:nth-child(odd) {
  background-color: #fff;
}
@media screen and (min-width: 401px) and (max-width: 700px){
  .p2-title {
    font-size: 22pt;
    line-height: 22pt;
  }
  .item-data-sheet th {
    font-size: 14pt;
    line-height: 14pt;
  }
}
@media screen and (max-width: 450px){
  .p2-title {
    font-size: 18pt;
    line-height: 18pt;
  }
  img.p2-cert-img {
    height: 20px;
  }
  .item-data-sheet th {
    font-size: 12pt;
    line-height: 12pt;
  }
  td.prod-itemnum {
    font-size: 8pt;
  }
  td.prod-data {
    font-size: 6pt;
  }
}
/* - - - preview thumbnail image in ps2 - - - */
.item-preview-thumb {
  position: absolute;
  display: none;
  border: 1px solid #000;
  background-color: #fff;
}
.item-preview-thumb img {
  width: 100px;
  height: 100px;
}

/* - - - item page - - - */

#each-img-data-container {
  padding: 15px;
}
@media screen and (min-width: 500px) {
  #each-img-data {
    padding: 10px;
  }
}
@media screen and (max-width: 499px) {
  #each-img-data {
    /* justify-content: space-evenly; */
  }
}
#each-img-data {
  background-color: #fff;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.img-content-box {

}
.item-image {
  width: 250px;
  margin: 0px 25px 25px 25px;
}
.item-data {

}
.main-view-lg {
  margin-bottom: 10px;
  width: 250px;
  border: 1px solid #A7A9AC;
  cursor: pointer;
}
.img-thumbnail-section .slick-prev:before,
.img-thumbnail-section .slick-next:before {
  color: #2b2b2b;
}

.single-thumb {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #A7A9AC;
}
.single-thumb.slick-slide {
  min-height: 74px;
}
.single-thumb:last-child {
  margin-right: 0px;
}
.single-thumb:focus {
  outline: none;
}
.each-item-data {
  width: 475px;
  word-wrap: break-word;
}
.item-spec-container {
  padding: 15px 15px 0px 15px;
}
.ip-title {
  font-family: 'bignoodletitlingregular';
  line-height: 30pt;
}
.ipt-h1 h1 {
  font-size: 40pt;
  margin-top: 0px;
  margin-left: 0px;

}
.ipt-sku {
  font-size: 35pt;
}
.ipt-item {
  font-size: 28pt;
}
.ip-type {
  font-family: 'bignoodletitlingregular';
  font-size: 35pt;
  line-height: 35pt;
}
.ip-each-data {
  font-size: 12px;
}
.ip-each-data-table {
  width: 100%;
}
.ip-each-data th.ip-legend {
  width: 150px;
}
.ip-each-data:nth-child(even) {
  background-color: #ededed;
}
.ip-legend {
  font-family: 'Questrial', sans-serif;
}
.ip-spec {
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
}
.ip-legend, .ip-spec {
  padding: 0px 5px 0px 5px;
}
.ip-pdf {
  padding-bottom: 10px;
}
a.spec-sheet, a.usermanual {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.ip-certification, .ip-description {
  padding: 10px 40px 10px 40px;
}
.ip-certitle, .ip-desctitle {
  font-family: 'bignoodletitlingregular';
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
}

.ip-detaildescription {
  font-family: 'Questrial', sans-serif;
}
.ip-cert-img {
  max-height: 50px;
  padding-right: 10px;
}
/* modal background */
.ip-modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
/* modal content(img) */
.ip-modal-content {
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 530px;
}
.ip-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.ip-close:hover, .ip-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.ip-slides {
  cursor: pointer;
  background-color: #fff;
  display: none;
}
.ip-slides:hover {
}
.ip-slides img {
  width: 500px;
}


/* - - - ABOUT US - - - */
.about-overall-cover {
  position: relative;
  width: 100%;
}
.about-imgcover-container img {
  width: 100%;
}
.about-beginning-title {
 position: absolute;
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 align-items: center;
 justify-content: center;
 top: 0%;
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0,0.1);
 text-align: center;
}
.index-title1 {
  text-align: center;
}
.index-title1 span {
  line-height: 100px;
  font-family: 'bignoodletitlingregular',cursive;
  font-size: 75pt;
  letter-spacing: 2px;
  color: #fff;

}
.index-title1-underline {
  margin: 0 auto;
  width: 200px;
  border-bottom: 4px solid #fff;
}

.aboutus-inthebeginning {
  text-align: center;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  justify-content: space-around;
}
@media screen and (max-width: 995px) {
  .aboutus-inthebeginning {
    flex-wrap: wrap;
  }
  .aboutus-inthebeginning-img {
    /*width: 250px;*/
    /*height: 250px;*/
  }
  .aboutus-inthebeginning-contents {
    padding-top: 25px;
  }
}
@media screen and (max-width: 995px) and (min-width: 401px) {
  .about-beginning-title {
  }
  .index-title1 span {
    font-size: 45pt;
    line-height: 50px;
  }
}
@media screen and (max-width: 400px) {
  .index-title1 span {
    font-size: 25pt;
    line-height: 30px;
  }
  .index-title1-underline {
    width: 100px;
    border-bottom: 2px solid #fff;
  }
}
.aboutus-inthebeginning-img img {
  /*width: inherit;*/
  width: 200px;
  height: 200px;
}
.aboutus-inthebeginning-contents {
  padding-left: 50px;
  padding-right: 50px;
}
.aboutus-title1 {
  text-align: center;
}

.aboutus-content1 {
  text-align: left;
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
}
.aboutus-timelineimg img {
  max-width: 100%;
  padding-bottom: 50px;
}

.about-cat {
  padding: 40px 0px 40px 0px;
}
.about-cat .container {
  text-align: center;
}
.about-cat:nth-of-type(even) {
  background-color: #f2f2f2;
}
.about-cat-img {
  padding: 0px 10px 0px 10px;
  vertical-align: top;
  display: inline-block;
  width: 50%;
}
.about-cat-img img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 1199px) {
  .about-cat .container {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
  }
  .about-cat-desc {
    order: 1;
  }
  .about-cat-img {
    order: 2;
    width: 100%;
  }

}
@media screen and (max-width: 450px) {
  .about-cat-img {
    padding: 0px;
  }
  .about-cat-img img {
    /* width: 280px; */
  }
}
.about-cat-desc {
  padding: 0px 20px 0px 20px;
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
  text-align: left;
}
.about-cat-title {
  font-family: 'bignoodletitlingregular';
  font-size: 40px;
}
.about-cat-txt-main {
  padding-bottom: 10px;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
}
.about-cat:nth-of-type(even) .about-cat-txt-main {
  border-bottom: 1px solid #fff;
}
.about-cat:nth-of-type(odd) .about-cat-txt-main {
  border-bottom: 1px solid #e6e6e6;
}
.about-cat-txt-tags {
  font-family: 'Questrial', sans-serif;
}
.about-4info {
  background-color: #003DA5;
  color: #fff;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.about-4info-block {
  width: 250px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
}
.about-4info-img {
  margin-bottom: 20px;
}
.about-4info-img img {
  max-width: 75px;
  max-height: 75px;
}
.about-4info-contents p {
  margin: 0 auto;
}
.about-4info-title {
  padding: 5px;
  min-width:
  margin: 0px 10px 0px 10px;
  height: 65px;
  /*width: 100px;*/
  border: 2px solid #fff;
  font-size: 18px;
}
.about-4info-contents {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  /*line-height: 15px;*/
  /*line-height: auto;*/
}

/*
  Worldmap is created with https://mapchart.net/
*/
.about-locations {
  background-image: url("../images/about/about-worldmap2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .about-locations {
    background-image: none;
  }
}
.about-locations-title {
  text-align: center;
  font-family: "bignoodletitlingregular";
  font-size: 50px;
  padding-top: 30px;
}
.about-locations-title1 {
  line-height: 50px;
}
.about-locations-title1-underline {
  margin: 0 auto;
  width: 100px;
  border-top: 5px solid #003DA5;
  margin-bottom: 30px;
}

.about-locations-localimg img {
  width: 150px;
  height: 150px;
}
.about-locations-type {
  padding-top: 10px;
  padding-bottom: 20px;
}
.about-locations-type p {
  margin-bottom: 0;
  font-family: 'Questrial', sans-serif;
}
.about-locations-type-title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.about-locations-type-multicities {
  padding-bottom: 10px;
}

/*  ABOUT US PAGE TIMELINE CSS  */
/*  Source: https://codepen.io/jeffglenn/pen/KNYoKa  */
#about-timeline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #031625;
}
#about-timeline:hover .about-tl-item {
  /*width: 23.3333%;*/
}

.about-tl-item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: relative;
  width: 11.11%;
  height: 25vh;
  min-height: 300px;
  color: #fff;
  overflow: hidden;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  cursor: pointer;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.about-tl-item:before, .about-tl-item:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.about-tl-item:after {
  background-color: #c4c4c4;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.about-tl-item:before {
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
          transform: translate3d(0, 0, 0) translateY(50%);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}
.about-tl-item:hover {
  width: 30% !important;
}
.about-tl-item:hover:after {
  opacity: 0;
}
.about-tl-item:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
          transform: translate3d(0, 0, 0) translateY(0);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}
.about-tl-item:hover .about-tl-year, .about-tl-item:hover .about-tl-year p {
  top: 25%;
  font-size: 3rem;
  -webkit-transition: all 0.75s ease 0.5s;
          transition: all 0.75s ease 0.5s;
}
.about-tl-item:hover .about-tl-year p {
  margin-top: 16px;
  line-height: 3rem;

}
.about-tl-item:hover .about-tl-content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.75s ease 0.5s;
  transition: all 0.75s ease 0.5s;
}
.about-tl-item:hover .about-tl-bg {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.about-tl-content {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: 'Questrial', sans-serif;
  -webkit-transform: translate3d(0, 0, 0) translateY(25px);
          transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  /* margin: 0 1.618em; */
  top: 50%;
  opacity: 0;
  /* font-size: 14pt; */
}
.about-tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.about-tl-year p {
  /*font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;*/
  font-family: 'bignoodletitlingregular', cursive;
  /* font-size: 1.9rem; */
  font-size: 20pt;
  text-align: center;
  /*line-height: 2rem;*/
  margin: 10px 0px 5px 0px;
}
.about-tl-item .about-tl-bg {
  background-color: #003DA5;
}
.about-tl-bg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media screen and (min-width: 1401px) {
  .about-tl-content {
    top: 30%;
    padding: 1.5em;
    font-size: 14pt;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .about-tl-content {
    top: 30%;
    padding: 1.5em;
    font-size: 12pt;
  }
}
@media screen and (max-width: 1199px) and (min-width: 850px){
  .about-tl-content {
    top: 40%;
    padding: 25px;
    font-size: 10pt;
  }
}

@media screen and (max-width: 849px) and (min-width: 451px) {
  .about-tl-content {
    top: 38%;
    padding: 10px;
    font-size: 9pt;
  }
}

@media screen and (max-width: 450px) {
  .about-tl-content {
    top: 38%;
    padding: 10px;
    font-size: 7pt;
  }
  .about-tl-item {
    min-height: 350px;
  }
  .about-tl-year p {
    font-size: 10pt;
    line-height: 12pt;
  }
}

/* - - - TEAM PAGE - - - */
.team-personnels {
  padding-bottom: 30px;
  font-family: 'bignoodletitlingregular',cursive;
}
.team-personnels-maintitle {
  text-align: center;
}
.team-personnels-maintitle span {
  margin-top: 25px;
  display: inline-block;
  line-height: 50px;
  font-family: 'bignoodletitlingregular',cursive;
  font-size: 50px;
  letter-spacing: 2px;
}
.team-personnels-maintitle-underline {
  margin: 0 auto;
  width: 200px;
  border-bottom: 4px solid #003DA5;
}
.team-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.team-individualimg {
  width: 25%;
  margin-top: 50px;
  text-align: center;
  /*height: 175px;*/
}
/* Responsive css for team page */
@media screen and (max-width: 1000px) {
  .team-individualimg {
    width: 50%;
    margin-top: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .team-individualimg {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
}
.team-crop {
  margin: 0 auto;
  width: 175px;
  height: 175px;
  overflow: hidden;
}
.team-crop img {
  cursor: pointer;
  width: 100%;
  /*height: 100%;*/
}
.team-breakline {
  margin: 0 auto;
}
.team-individualname {
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
}
.team-individualtitle {
  padding-top: 10px;
  font-size: 18px;
  color: #999999;
}
.team-modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 75px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.team-modal-container {
  margin: auto;
  padding: 0;
  width: 65%;
  height: 80%;
  position: relative;
  background-color: #999999;
}
.team-close {
  color: white;
  z-index: 4;
  position: absolute;
  font-size: 18px;
  top: 5px;
  right: 5px;
}
.team-close:hover, .team-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.team-modal-content {
  display: none;
  padding: 20px 0px 20px 0px;
  }

.team-modal-iimage {
  height: 480px;
}
.team-modal-iimage img {
  height: 100%;
  display: block;
  margin: 0 auto;
}
.team-modal-iname {
  text-align: center;
}
.team-modal-iname span {
  margin-top: 25px;
  display: inline-block;
  line-height: 50px;
  font-family: 'bignoodletitlingregular',cursive;
  font-size: 50px;
  letter-spacing: 2px;
}
.team-modal-iname-underline {
  margin: 0 auto;
  width: 200px;
  border-bottom: 4px solid #fff;
}
.team-modal-ititle {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 15pt;
  padding-top: 10px;
  padding-bottom: 30px;
}
.team-blurb {
  font-family: 'Questrial', sans-serif;
  background-color: #999999;
  color: #fff;
  padding: 0px 50px 25px 50px;
}
.team-blurb-contents {
  font-size: 12pt;
}
@media screen and (min-width: 1380px) {
  .team-blurb-contents {
    font-size: 20pt;
  }
}
.team-salesmanager {
  background-color: #F8FBFB;
  padding-bottom: 50px;
}
.team-salesmanager-section {
  text-align: center;
  margin: 40px 0 40px 0;
}
.team-salesmanager-section span {
  display: inline-block;
  line-height: 50px;
  font-family: 'bignoodletitlingregular',cursive;
  font-size: 50px;
  letter-spacing: 2px;
}
.team-salesmanager-section-underline {
  margin: 0 auto;
  width: 200px;
  border-bottom: 4px solid #003DA5;
}
.team-mapcontainer {
  width: 70%;
  margin: 0 auto;
}
.team-salesmanager-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.team-salesmanager-each {
  width: 275px;
  text-align: center;
  margin-top: 30px;
  font-family: 'Questrial', sans-serif;
}
.team-salesmanager-img {
  margin: 10px;
}
.team-salesmanager-img img {
  width: 150px;
  height: auto;
  cursor: pointer;
}
.team-salesmanager-name {
  font-size: 16pt;
  font-weight: bold;
}
.team-salesmanager-text {
  font-size: 8pt;
}
/*  svg hover  */
/*.team-state-CA:hover ~ g #CA .cls-1 {
  fill: #fff;
}*/
  /*, OR, WA, NV, AZ, ID, UT, MT, WY, NM, CO, TX, NE, SD, ND, OK, KS, MN, IA, MO, AR, LA, WI, IL, MS, TN, KY, IN, AL, MI, FL, OH, GA, NC, VA, WV, SC, PA, MD, NJ, DE, VT, MA, CT, NH, ME, RI, NY, AK, HI*/
/*.team-state-*/


/*  CONTACT US PAGE  */
.contact-banner img {
  width: 100%;
}
.contact-banner {
  position: relative;
}
.cb-textbox3 {
  position: absolute;
  z-index: 10;
  text-align: center;
  right: 5%;
  top: 10%;
}
.cb-textbox3 span {
  display: block;
}
.cb3-i1 {
  font-size: 30pt;
}
.cb3-i2 {
  font-size: 50pt;
}
@media screen and (min-width: 1370px) {
  .cb3-i1 {
    font-size: 40pt;
  }
  .cb3-i2 {
    font-size: 70pt;
  }
}
@media screen and (max-width: 950px) and (min-width: 700px) {
  .cb3-i1 {
    font-size: 20pt;
  }
  .cb3-i2 {
    font-size: 40pt;
  }
}
@media screen and (max-width:699px) and (min-width: 500px) {
  .cb3-i1, .cb3-i2 {
    font-size: 20pt;
  }
}
@media screen and (max-width: 499px) and (min-width: 400px) {
  .cb3-i1, .cb3-i2 {
    font-size: 15pt;
  }
}
@media screen and (max-width: 399px) {
  .cb3-i1, .cb3-i2 {
    font-size: 15pt;
    line-height: 15pt;
  }
}

.temp-notice {
  background-color: #f2f2f2;
  padding-top: 30px;
}
.temp-notice .container {
  width: 50%;
  padding: 0;
}
.tn-img {
  position: relative;
}
.tn-img img {
  margin: 0 auto;
  width: 100%;
}
.tn-content {
  position: absolute;
  padding: 10px 20px 10px 20px;
  color: #000;
  background-color: rgba(255,255,255,0.7);
  text-align: left;
  top: 10%;
  left: 10%;
}
.tn-title {
  font-size: 16pt;
  color: #073DA5;
}
.tn-titlemini {
  font-size: 12pt;
}
.tn-txt {
  font-size: 12pt;
  color: #000;
}

.contact-form {
  background-color: #f2f2f2;
}
.contact-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
}
.contact-maintitle {
  background-color: #073DA5;
  padding-top: 10px;
  height: 70px;
  margin-bottom: 15px;
}
.contact-maintitle span {
  font-family: 'bignoodletitlingregular';
  font-size: 50px;
  letter-spacing: 2px;
  color: #fff;
}
.contact-sm-input input {
  font-family: 'Questrial', sans-serif;
  font-size: 12pt;
  width: 100%;
  height: 35px;
  border: none;
  padding-left: 10px;
}
.contact-message textarea {
  font-family: 'Questrial', sans-serif;
  font-size: 12pt;
  width: 100%;
  border: none;
  height: 250px;
  padding: 5px 10px;
}

.contact-submit button {
  background-color: #073AD5;
  color: #fff;
  border: none;
  width: 25%;
  height: 35px;
  border-radius: 10px;
}
.contact-phaddress {
  font-family: 'Questrial', sans-serif;
  font-size: 12pt;
  color: #073DA5;
}
.contact-phaddress-ph {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-phaddress-ph span {
  padding: 0 10px 0 10px;
}
.contact-phaddress-address p {
  margin: 0;
}
.contact-phaddress-address p strong {
  -webkit-text-stroke: 0.5px;
}
@media screen and (max-width: 750px) {
  .contact-container {
    width: 80%;
  }
  .temp-notice .container {
    width: 80%;
  }
}
.contact-salesmanager {
  padding-bottom: 50px;
}
.contact-salesmanager-section {
  text-align: center;
  margin: 40px 0 40px 0;
}
.contact-salesmanager-section span {
  display: inline-block;
  line-height: 50px;
  font-family: 'bignoodletitlingregular',cursive;
  font-size: 50px;
  letter-spacing: 2px;
}
.contact-salesmanager-section-underline {
  margin: 0 auto;
  width: 200px;
  border-bottom: 4px solid #003DA5;
}
.contact-salesmanager-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.contact-salesmanager-each {
  width: 275px;
  text-align: center;
  font-family: 'Questrial', sans-serif;
}
.contact-salesmanager-img {
  margin: 10px;
}
.contact-salesmanager-img img {
  width: 150px;
  height: auto;
  cursor: pointer;
}
.contact-salesmanager-name {
  font-size: 16pt;
  font-weight: bold;
}
.contact-salesmanager-text {
  font-size: 8pt;
}

.contact-success-message {
  padding: 0px 0px 50px 0px;
}

/* - - - CAREER - - - */
.career-banner img {
  width: 100%;
  height: auto;
}
.career-banner {
  position: relative;
}
/* - - - career overlay text - - - */
.cb-textbox {
  color: #fff;
  font-family: 'bignoodletitlingregular';
}
.cb-textbox1, .cb-textbox2 {
  position: absolute;
  z-index: 10;
}
@media screen and (min-width: 1200px) {
  /* - - - for full and large width screens - - - */
  .cb-textbox1 {
    top: 10%;
    left: 12%;
    font-size: 50pt;
    width: 500px;
    line-height: 1em;
  }
  .cb-textbox2 {
    bottom: 5%;
    right: 5%;
    /*font-size: 200pt;*/
  }
  .cb2-i1 {
    font-size: 200pt;
    line-height: 0.5em;
  }
  .cb2-i2 {
    font-size: 26pt;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) and (min-width: 600px) {
  .cb-textbox1{
    top: 10%;
    font-size: 50pt;
    line-height: 1em;
    padding: 0px 10px 0px 10px;
  }
  .cb-textbox2 {
    font-size: 20pt;
    /*font-size: 20pt;*/
    bottom: 0%;
    right: 0%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .cb2-i2 {
    padding-left: 20px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 599px) {
  .cb-textbox1{
    top: 0%;
    font-size: 20pt;
    padding: 10px 10px 0px 10px;
  }
  .cb-textbox2 {
    bottom: 0%;
    right: 0%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .cb2-i2 {
    padding-left: 20px;
    padding-right: 10px;
  }
}
/*   career callout   */
.career-callout {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  background-color: #F8FBFB;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 950px){
  .career-callout p {
    padding-left: 150px;
    padding-right: 150px;
  }
}
.career-blusm {
  font-size: 16pt;
  color: #003DA5;
}
.career-blasm {
  font-size: 16pt;
  color: #000;
}
.career-blulg {
  padding-top: 10px;
  font-size: 25pt;
  color: #003DA5;
}
.career-blaxs {
  font-size: 14pt;
}
@media screen and (max-width: 750px) {
  .career-blusm, .career-blasm {
    font-size: 10pt;
  }
  .career-blulg {
    font-size: 18pt;
  }
  .career-blaxs {
    font-size: 8pt;
  }
}
.career-pagecallout-contents {
  text-align: center;
}
.career-mainheader {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}
.career-mainheader span {
  display: inline-block;
  line-height: 50px;
  font-family: 'bignoodletitlingregular',cursive;
  font-size: 50px;
  letter-spacing: 2px;
}
.career-mainheader-underline {
  margin: 0 auto;
  width: 200px;
  border-bottom: 4px solid #003DA5;
}
.career-pagecallout {
  background-color: #F8FBFB;
}
.career-pagecallout-contents {
  font-family: 'Questrial', sans-serif;
  font-size: 13pt;
  margin: 50px 0px 50px 0px;
}
.career-content-container {
  font-family: 'Questrial', sans-serif;
}
.coe-email a {
  padding-left: 10px;
}
.coe-summary,
.coe-description,
.coe-tag {
  margin: 15px 0px 0px 0px;
}
.coe-position {
  font-size: 14pt;
  font-weight: bold;
}
.career-open {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
@media screen and (min-width: 1000px) {
  .career-open-block {
    width: 45%;
  }
}
@media screen and (max-width: 999px) {
  .career-open-block {
    width: 100%;
  }
  .career-open-block-holder {
    display: none;
  }
}
.career-open-block {
  padding: 20px;
  margin: 20px;
  border: 1px solid #000;
}
.career-open-block-holder {
  /*This is a place holder for even display..*/
  width: 45%;
  padding: 20px;
  margin: 20px;
}
.career-open-container {
  display: block;
  width: 100%;
  height: 250px;
  overflow-y: hidden;
}
.career-open-expand {
  padding-top: 20px;
}
.career-open-expand a {
  cursor: pointer;
}

/*   Career Modal   */
.career-modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 75px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}
.career-modal-container {
  margin: auto;
  width: 65%;
  height: 80%;
  position: relative;
  background-color: #fff;
}
.career-modal-contents {
  padding: 25px;
  height: 100%;
  overflow: auto;
}
.career-close {
  color: #000;
  z-index: 4;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
}
.career-close:hover, .career-close:focus {
  color: #003DA5;
  text-decoration: none;
  cursor: pointer;
}


/* - - - CATALOG - - - */
.catalog-mainheader {
  text-align: center;
  margin: 50px 0px 40px 0px;
}
.catalog-mainheader span {
  display: inline-block;
  line-height: 50px;
  font-family: 'bignoodletitlingregular',cursive;
  font-size: 50px;
  letter-spacing: 2px;
}
.catalog-mainheader-underline {
  margin: 0 auto;
  width: 200px;
  border-bottom: 4px solid #003DA5;
}
.catalog-buttons,
.catalog-thumbnails {
  font-family: 'Questrial', sans-serif;
}
.catalog-thumbnails {
  min-height: 45vh;
}
.catalog-buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;  /* equal spacing */
  justify-content: space-around;
  margin-bottom: 50px;
}
@media screen and (max-width: 1000px) {
  .catalog-buttons {
    flex-wrap: wrap;
  }
}
.catalog-custbtn {
  display: block;
  width: 150px;
  background-color: transparent;
  border-radius: 0px;
  border: 1px solid #073DA5;
  color: #073DA5;
  margin-bottom: 20px;
}
.catalog-custbtn:hover {
  background-color: #073DA5;
  color: #fff;
}
.catalog-custbtn.active {
  background-color: #073DA5;
  color: #fff;
}
.catalog-thumbinner {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.catalog-thumbinner a {
  text-decoration: none;
}
.catalog-each {
  width: 250px;
  display: inline-block;
  text-align: center;
  margin: 25px 0px 25px 0px;
}
.catalog-each-thumb img {
  width: 200px;
  margin-bottom: 20px;
  /*height: 110px;*/
}
.catalog-each span {
  /*margin-top: 10px;*/
  font-size: 14pt;
  color: #000;
}

/* - - - brand page - - - */
.brands-backcolor {
  background-color: #F8F8F9;
  padding: 30px 0px 30px 0px;
  min-height: 70vh;
}
.overall-brands-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
}
.brands-container {
  position: relative;
  width: 250px;
  margin: 30px 0px 30px 0px;
}

.brands-container img {
  display: block;
  width: 250px;
  height: 375px;
}

.brands-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 250px;
  height: 90px;
  transition: .5s ease;
}

.brands-container:hover .brands-overlay {
  height: 100%;
}

.brands-container:hover .brands-img {
  top: 12%;
  left: 50%;
}

.brands-container:hover .brandsoverlay-logo {
  background-color: #ffffff;
  /*opacity: 0.9;*/
}

.brands-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.brandsoverlay-logo {
  height: 90px;
  background-color: #E6E6E6;
  width: 100%;
  opacity: 0.9;
}
.brandsoverlay-text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /*margin-top: 80px;*/
  color: #fff;
  background-color: #000000;
  opacity: 0.85;
  height: 100%;
  padding: 10px;
  font-family: 'Questrial', sans-serif;
  font-size: 10pt;
}
.brandsoverlay-text a {
  color: #099FFF;
  font-weight: bold;
  text-decoration: none;
}

/* - - - tradeshows Page - - - */
.tradeshows-mainheader {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.tradeshows-mainheader span {
  display: inline-block;
  line-height: 50px;
  font-family: 'bignoodletitlingregular',cursive;
  font-size: 50px;
  letter-spacing: 2px;
}
.tradeshows-mainheader-underline {
  margin: 0 auto;
  width: 125px;
  border-bottom: 4px solid #003DA5;
}

/* - - - tradeshows page grid - - - */

.tradeshowspage {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
}
.tradeshowspage p {
  font-family: 'Questrial', sans-serif;
  font-size: 12pt;
}

/* - - - tradeshows Page Post section - - - */
.allpost-link-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media screen and (max-width: 550px) {
  .allpost-link-container {
    flex-wrap: wrap;
  }
}
.tradeshows-allsection {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  min-height: 550px;
  position: relative;
  min-width: 700px;
  width: 700px;
}
.allpost-thumbnailimg {
  padding-right: 25px;
}
.tradeshows-post-title {
  font-size: 14pt;
  font-weight: bold;
}
.allpost-date {
  font-size: 8pt;
  color: #003DA5;
}

.tradeshows-old-new {
  position: absolute;
  width: 100%;
  bottom: 0%;
  right: 0%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.ton-new {
  width: 45%;
  text-align: center;
}
.ton-old {
  width: 45%;
  text-align: center;
}
.ton-new a, .ton-old a {
  text-decoration: none;
}

/* - - - Featured tradeshows Page - - - */
.featuredtradeshows-tradeshowslink a {
  color: inherit;
  text-decoration: none;
}
.fnc-title {
  font-size: 20pt;
  font-weight: bold;
}
.featuredtradeshows-content {
  min-height: 55vh;
}
.featuredtradeshows-content p img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: contain;
}
.return-to-tradeshows {
  padding-bottom: 20px;
}

.tradeshows-upcomingtradeshows-container {
  padding: 0;
  min-width: 200px;
  width: 200px;
  display: inline-block;
}
.tradeshows-uts-title {
  background-color: #003DA5;
  font-family: 'bignoodletitlingregular';
  font-size: 16pt;
  color: #fff;
  padding: 8px 0px 0px 0px;
  text-align: center;
}
.tradeshows-uts-contents {
  width: 100%;
}
.tradeshows-archive-col {
  background-color: #f5f6f6;
  padding: 5px 10px 5px 10px;
  min-width: 200px;
  width: 200px;
}

/* - - - upcoming tradeshow php snippet - - - */
.upcoming-tradeshows-snippet-container {
  padding: 10px;
}
.tradeshow-container {
  padding-bottom: 20px;
  color: #003DA5;
}
.tradeshow-name{
  font-size: 12pt;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 3px;
}
.tsn-booth {
  font-size: 9pt;
  font-weight: bold;
}
.tradeshow-info {
  line-height: 1.25em;
}

/* - - - archive snippet - - - */
.archive-year-container {
  padding-top: 5px;
}
.archive-chev-container {
}
.archive-chev-container span {
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.ayc-year img {
  height: 15px;
  width: 15px;
  margin-bottom: 5px;
}
.ayc-year {
  font-size: 12pt;
  margin-bottom: 8px;
}
.ayc-year span {
  padding-left: 15px;
}
.archive-title {
  padding-left: 35px;
}
.archive-title p {
  font-size: 10pt;
  line-height: 1.25em;
}
.archive-title a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.archive-date {
  font-size: 8pt;
}

@media screen and (max-width: 1199px) {
  .tradeshowspage {
    flex-direction: column;
  }
  .tradeshows-allsection {
    min-width: 100%;
    width: 100%;
    order: 1;
  }
  .tradeshows-upcomingtradeshows-container {
    min-width: 100%;
    width: 100%;
    order: 2;
  }
  .tradeshows-archive-col {
    min-width: 100%;
    width: 100%;
    order: 3;
  }
}

/* - - - - - SEARCH PAGE - - - - - */
.ps-result-header {
  padding-bottom: 25px;
}
.ps-topinfo {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.ps-search-results {
  margin-top: 20px;
  font-size: 16pt;
}
.search-display {
  background-color: #FBFBFB;
  padding: 0px 20px 0px 25px;
}
.ps-pages.pagination {
  width: 100%;
  text-align: right;
  font-size: 11pt;
}
.ps-pages.pagination a {
  text-decoration: none;
}
.ps-pages .prev.page-numbers, .ps-pages .next.page-numbers {
  font-size: 15pt;
}
.ps-pages .page-numbers {
  padding: 10px 10px 10px 10px;
}
.ps-pages.pagination a.page-numbers:not(.prev):not(.next) {
  background-color: #D1D3D4;
  margin-left: 5px;
  margin-right: 5px;
}
.sec-thumb img {
  width: 175px;
  height: 175px;
  border: 1px solid #b2b2b2;
}
.search-each-container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1pt solid #D1D3D4;
}

.sec-items {
  padding: 0px 20px 0px 20px;
  width: 100%;
}

a.sec-item-num {
  text-decoration: none;
  font-family: 'bignoodletitlingregular', cursive;
  font-size: 24pt;
  line-height: 20pt;
  color: #000;
}

a.search-catlink {
  text-decoration: none;
  color: inherit;
}

.seci-spec {
  height: 100px;
  overflow: hidden;
  margin-bottom: 15px;
}

.secis-each-data-table {
  width: 100%;
}
.secis-legend {
  padding-top: 5px;
  vertical-align: top;
  font-weight: normal;
  font-size: 8pt;
  width: 20%;
}
.secis-data {
  padding-left: 5px;
  font-size: 14pt;
  vertical-align: top;
}
.seci-button .btn {
  background-color: #D2D3D5;
  color: #000;
}
@media screen and (max-width: 450px) {
  .search-display {
    padding: 0px 20px 0px 20px;
  }
  .ps-topinfo {
    display: block;
  }
  .ps-pages.pagination {
    font-size: 10pt;
    text-align: center;
  }

  .ps-pages .page-numbers {
    padding: 5px;
  }
  .ps-pages.pagination a.page-numbers:not(.prev):not(.next) {
    background-color: #D1D3D4;
    margin-left: 2px;
    margin-right: 2px;
  }
  .sec-thumb img {
    width: 75px;
    height: 75px;
  }
  .seci-title a {
    font-size: 12pt;
    line-height: 10pt;
  }

  .secis-legend {
    font-size: 6pt;
    line-height: 6pt;
    width: auto;
  }
  .secis-data {
    font-size: 10pt;
  }
}
